.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
  color: #fff;
  background: #6073c5;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}
.side-menu .nav-item a{
  color: #fff;
  
}
.side-menu .nav-item .mr-2{
  margin-right: 15px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  /* padding: 20px; */
  margin-left: 0;
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: #f0f0f0;
  overflow: hidden;
}
.container_header{
  justify-content: space-between;
}
.container_header .dropdown-menu.show{
  transform: translate3d(-118px, 38px, 0px) !important;
}
.container_header .dropdown-menu.show .btn.btn-secondary{
  padding-bottom: 0;
  padding-top: 0;
}
.container_header .dropdown-toggle{
  background: none;
  color: black;
  border: none;
}
.container_header .dropdown-toggle:hover{
  background: none;
  color: black;
  border: none;
}
.container_header .btn.btn-secondary{
  background: none;
  color: black;
  border: none;
}
.container_header .btn.btn-secondary:hover{
  background: none;
  color: black;
  border: none;
}
.user_dropdown .dropdown-toggle::after{
  content: none;
}
.container_wrapper{
  padding-right: 25px;
  padding-left: 25px;
}
.footer_container{
  position: absolute !important;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-left: 20px;
}
@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

